# Ignorar arquivos de ambiente virtual
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.py[cod]

# Ignorar logs
*.log

# Ignorar arquivos de banco de dados SQLite
*.sqlite3

# Ignorar arquivos do sistema operacional
.DS_Store  # MacOS
Thumbs.db  # Windows
